*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display: block;}
  
  html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family: inherit;}
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner{padding: 0;border: 0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
  
  body{
    font-family: 'Heebo', sans-serif;
  }
  .wrapper{
    display: flex;
    min-height:100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  }
  .header {
    padding: 27px 15px 0 15px;
    max-width: 1062px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
  }
  @media(max-width:767px){
    .header{
      justify-content: center;
    }
  }
  
  .header__menu {
    
  }
  .header__list {
   
  }
  
  .header__item {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 15px;
  }
  .header__link{
    color: #21243D;
    font-size: 20px;
  }
  .header__link:active{
    color: #FF6464;
  }
  .header__list li:last-child{
    margin: 0 0 0 15px;
  }
  .container {
    max-width: 682px;
    padding: 0 15px;
    margin: 0 auto;
  }
  /*ipad*/
  @media(max-width:863px){
    .container{
      max-width: 680px;
      margin: 0 auto;
    }
  }
  @media(max-width:767px){
    .container{
      max-width: none;
    }
  }
  
  .featured-works {
    padding-top: 18px;
  }
  .featured-works__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 22px;
  }

  .featured-works__list {
    
  }
  
  .featured-works__card {
    padding-top: 31px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
  }
  
  @media(max-width:691px){
    .featured-works__card{
      align-items: center;
      margin: 0 auto;
    }
  }
  @media(max-width:548px){
    .featured-works__card {
      display: block;
    }
  }
  
  .featured-works__img {
    max-width: 100%;
    margin-right: 20px;
  }
  @media(max-width:548px){
    .featured-works__img{
        margin-bottom: 20px;
        max-width: 400px;
    }
  }
  @media(max-width:479px){
    .featured-works__img{
        margin-right: 0;
        margin-bottom: 20px;
        
    }
  }
  .featured-works__body {
  }
  .featured-works__name {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .featured-works__year {
    font-size: 18px;
    margin-right: 26px;
    font-weight: 700;
    color: white;
    padding: 0 10px;
    background-color: #142850;
    border-radius: 14px;
    margin-right: 26px;
  }
  @media(max-width:479px){
    .featured-works__year{
        
    }
  }
  .featured-works__type{
    font-size: 20px;
    color: #8695A4;
  }
  .featured-works__text {
    margin-top: 17px;
    line-height: 23.5px;
    font-size: 16px;
  }
  @media(max-width:479px){
    .featured-works__text {
      max-width: 100%;
    }
  }
  .featured-works__list .featured-works__card:last-child{
    margin-bottom: 83px;
  }

  .footer {
    padding-top: 51px;
    padding-bottom: 54px;
  }
  .footer__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__social {
    margin-bottom: 26px;
    display: flex;
    width: 232px;
    justify-content: space-between;
  }
  .footer__rights {
    line-height: 20.56px;
    font-size: 14px;
    color: #21243D;
  }
